main {
    background-image: url("wildwest.jpg");
    height: 766px;
    max-width: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
}

nav a {
    vertical-align: middle;
    font-size: xxx-large;
    color: white;
    text-decoration: none;
    font-family: Playbill, serif;
}

nav a:hover {
    color: black;
}

h2 {
    text-align: center;
    font-family: Playbill, serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: larger;
}

.buttons button {
    border-radius: 16px;
}

.gallowspole img {
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.word {
    text-align: center;
    font-size: x-large;
    margin-bottom: 100px;
}

.text {
    text-align: center;
    font-size: x-large;
    font-family: Playbill, serif;
}

.naastMekaar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.naastMekaar button {
    width: 30px;
}

footer {
    display: flex;
    background-color: #ef973e;
    justify-content: space-between;
    padding: 0.5em;
    font-size: x-small;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 1rem;
}

.fullwidth {
    width: 100%;
}
