main {
    background-image: url("wildwest.jpg");
    height: 766px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    background: transparent;
}

nav a {
    vertical-align: middle;
    font-family: Playbill, serif;
    font-size: xxx-large;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

h2 {
    text-align: center;
    font-family: "French Script MT", serif;
    font-weight: bolder;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.buttons a {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.naastMekaar {
    padding-left: 0;
}

.naastMekaar li {
    display: inline;
}

footer {
    display: flex;
    background-color: #ef973e;
    justify-content: space-between;
    padding: 0.5em;
    font-size: x-small;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 1rem;
}

.fullwidth {
    width: 100%;
}
