<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Raad het woord')"></head>
<body>
<main th:object="${raadHetWoord}">
    <nav th:replace="fragments::header"></nav>
    <h2 th:object="${categorie}">
        <th:block th:text="*{naam}"></th:block>
    </h2>
    <div class="gallowspole">
        <img th:src="@{/images/{verkeerdePogingen}.png (verkeerdePogingen=*{verkeerdePogingen})}"
             th:alt="|*{verkeerdePogingen} verkeerde pogingen|">
    </div>
    <div class="word" th:if="not *{verloren} and not *{gewonnen}">
        <th:block th:text="*{puntjes}"></th:block>
    </div>
    <div class="text">
        <div th:if="*{verloren}">U bent verloren, het woord was
            <th:block th:text="*{woord}"></th:block>.
        </div>
        <div th:if="*{gewonnen}">U bent gewonnen, het woord was
            <th:block th:text="*{woord}"></th:block>.
        </div>
    </div>
    <div class="naastMekaar" th:if="not *{verloren} and not *{gewonnen}">
        <form th:each="letter:${alfabet}" th:action="@{/categorie/{id}/{letter}(id=${id}, letter=${letter})}" method="post">
            <button th:text="${letter}" th:disabled="${raadHetWoord.letters.contains(letter)}"></button>
        </form>
    </div>
</main>
<footer th:replace="fragments::footer"></footer>
</body>
</html>